.sentence {
    margin: 1em;
    padding: 1em 0;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid gray;
    align-items: center;
}

.word {
    flex: 1 1 auto;
    font-size: 2em;
    text-align: center;
    border: 1px solid grey;
}


.short.word {
    flex-direction: column;
    line-height: 0.84em;
}

.long.word {
    font-size: 5em;
}

.word .inner {
    border: 1px solid lightpink;
}

.short.word .character {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.single.word {
    font-size: 4em;

}

.medium.word {
    font-size: 3em;
}

.long.word {
    min-width: 80%;
}
